* {
  font-family: sans-serif;
}
.content-table {
  border-collapse: collapse;
  margin: 25px 0;
  margin-left: 13%;
  font-size: 0.9em;
  min-width: 80%;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.content-table tbody td.active-row {
  font-weight: bold;
  color: #009879;
}